.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d65829;
}

.modal {
  padding: 10%;
  margin-top: auto;
  margin-bottom: auto;
  overflow-y: auto;
  border-radius: 2px;
  color: black;
}

.modal-body {
  background-color: rgb(255, 140, 207);
}

.btn {
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
}